{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

{%block title%}
admin interface
{%endblock%}

{%block page_content%}
<h1>admin operations</h1>
<ul></ul>
<ul></ul>

<ul class="list-group">
    <li class="list-group-item">
        <a href="{{ url_for('add_book') }}">add_book</a>
    </li>
    <li class="list-group-item">
        <a href="{{ url_for('search_book') }}">search_book</a>
    </li>
    <li class="list-group-item">
        <a href="{{ url_for('show_all_book') }}">show_all_book</a>
    </li>   
    <li class="list-group-item">
        <a href="{{ url_for('lend_book') }}">[deprecated]lend_book</a>
    </li>   
    <li class="list-group-item">
        <a href="{{ url_for('show_all_record') }}">show_all_record</a>
    </li>   
    <li class="list-group-item">
        <a href="{{ url_for('return_book') }}">[deprecated]return_book</a>
    </li>   
    <li class="list-group-item">
        <a href="{{ url_for('show_all_user') }}">show_all_user</a>
    </li>   
</ul>

{%endblock%}